body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

/* search input font size */
label.MuiInputLabel-root,
input.MuiInput-input {
  font-size: 1.25rem;
}
label.MuiInputLabel-shrink {
  font-size: 1rem;
}

/* product table rows */
tr:nth-child(even) {background: #fffffe}
tr:nth-child(odd) {background: #fffaf5}
